body {
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	margin-bottom: 0;
	font-weight: bold;
}

p {
	margin: 0.5rem 0 0;
	font-size: 0.75rem;
}

a {
	color: inherit;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 1.5rem;
		padding-top: 1rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h1,
	h2 {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	p {
		padding: 0 1rem 0;
		font-size: 0.6rem;
	}
}
